{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

<h1>Book List</h1>

<ul>
   
    {% for book in books %}
    <li> {{book.title}} by {{book.Author}} 
    <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" style="display:inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                        <button class="btn btn-danger">delete</button>
                    </form>
    {% endfor %}
</ul>
{% endblock %}
