{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

<h1>Book List</h1>

<ul>
   
    {% for book in books %}
    <li> {{book.title}} by {{book.Author}} </li>
    {% endfor %}
</ul>
{% endblock %}
